<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel='stylesheet' href='/reset.css'>
		<title>Movies</title>
	</head>
	<body> 
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
			</ul>
		</nav>
		<%= yield %>
		<br> <br> <br>
		<footer>
			Made by Mike Reinhart
		</footer>
	</html>