<nav>
	<ul>
		<li><%= link_to 'Planets', planets_path %> </li>
		<li><%= link_to 'New Planet', new_planet_path %> </li>
		<li><%= link_to 'Moons', moons_path %> </li>
		<li><%= link_to 'New Moons', new_moon_path %> </li>
	</ul>