<form action='/calc' method='get'>
	<input type='text' name='first_parameter'>
	<input type='text' name='operator'>
	<input type='text' name='second_parameter'>
	<button>Calculate!</button>
</from>
<br>
Result is: <%= @result %>